body {
    background-color: #eaf6f6;
}

hr {
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
}

h1 {
    color: #0fb3b3;
}

h3 {
    color: #0fb3b3;
}